<launch>
    <!-- Load the parameters for the left and right wheel -->
    <rosparam command="load" file="$(find mobile_robot_tutorial)/config/two_wheels.yaml" />

  <!-- Start up a wheel_sim node for the left wheel -->
  <node pkg="mobile_robot_tutorial" type="wheel_sim" name="wheel_sim" ns="left_wheel"/>

  <!-- Start up a wheel_sim node for the left wheel -->
  <node pkg="mobile_robot_tutorial" type="wheel_sim" name="wheel_sim" ns="right_wheel"/>

  <!-- Start up a robot_sim node to track the pose of the robot -->
  <node pkg="mobile_robot_tutorial" type="robot_sim" name="robot_sim"/>
</launch>
